.service{
  width: 100%;
  background: $black;
  padding: 150px;
  display: flex;
  gap: 5rem;

  &_left{
    width: 50%;
  }

  &_cards{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &_card{
    padding: 50px 70px;
    border-radius: 10px;
    background: #121213;
    filter: drop-shadow(0 0 20px black);

    &:hover{
      filter: drop-shadow(0 0 2px black);
    }
  }

}

.card{
  &_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_title{
    font-size: 43px;
    color: $white;
  }

  &_icon{
    width: 50%;
  }

  &_desc{
    color: #9797a3;
    padding: 10px 0px 30px 0px;
  }

  &_link{
    color: #9797a3;
    text-transform: uppercase;
  }

}

.service_card:hover{
  background-color: $black;
}

.service{
  &_right{
    width: 50%;
  }

  &_subtitle{
    color: #9797a3;
    font-size: 22px;
  }

  &_title{
    color: $white;
    font-size: 60px;
    padding: 50px 0px;
  }

  &_info{
    font-style: italic;
    font-size: 30px;
    padding-bottom: 30px;
    color: #9797a3;
  }

  &_desc{
    color: #9797a1;
    font-size: 22px;
    line-height: 35px;
  }
}

@media (max-width: 1024px){
  .service{
    height: unset;
    padding: 100px 40px;

    &_title{
      font-size: 50px;
    }

    &_info{
      font-size: 25px;
      padding-bottom: 20px;
    }

    &_desc{
      font-size: 18px;
      line-height: 30px;
    }
  }

  .service_card{
    padding: 30px 50px;
  }
}

@media (max-width: 768px){
  .service{
    gap: 3rem;
  }
}

@media (max-width: 460px){
  .service{
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 100px 20px;

    &_right{
      width: unset;
    }

    &_left{
      width: unset;
    }

    &_cards{
      overflow-x: scroll;
      flex-direction: row;
      padding: 30px 40px;
    }
  }

  .service_cards::-webkit-scrollbar{
    display: none;
  }

  .service_card{
    padding: 30px;
  }

  .card_top{
    width: 250px;
  }
}