@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@500;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #010606;
  cursor: pointer;
  background-color: #01bf71;
}

.btn:hover {
  padding: 6px 18px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #d1cece;
  color: #010606;
  border-radius: 4px;
  border: 2px solid #01bf71;
  transition: all 0.3s ease-out;
}

.header_nav {
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 0px 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  height: 80px;
}

.header_nav img.logo {
  height: 80px;
  width: 100%;
  padding: 4% 0%;
}

.header_nav > .navbar ul {
  list-style: none;
}

.header_nav > .navbar ul li {
  position: relative;
  float: left;
  z-index: 9999;
}

.header_nav > .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
  text-decoration: none;
}

.header_nav > .navbar ul li a:hover {
  background: #333;
  color: #fff;
}

.header_nav > .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

.header_nav > .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header_nav > .navbar ul li:focus-within > ul,
.header_nav > .navbar ul li:hover > ul {
  display: inline;
}

#menu-bar {
  display: none;
}

.header_nav > label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .header_nav {
    position: fixed;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .header_nav > label {
    display: inline;
  }
  .header_nav > .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  .header_nav > .navbar ul li {
    width: 100%;
  }
  .header_nav > .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header_nav > .navbar ul li ul li {
    background: #eee;
  }
  .header_nav > .navbar ul li ul li ul {
    width: 100%;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}

.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #01bf71;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #242222;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #d1cece;
  padding: 16px;
}

@media (max-width: 64em) {
  .fa-caret-down {
    display: none;
  }
}

.hero_container {
  background-color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  height: 650px;
  position: relative;
  z-index: 1;
}

.hero_container::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.6))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  z-index: 2;
}

.hero_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero_video_bg {
  overflow: hidden;
  width: 100%;
  height: 100%;
  --o-object-fit: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #232a34;
}

.hero_content {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_content h1 {
  margin-top: 40%;
  color: #d1cece;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.2em;
}

@media (max-width: 64em) {
  .hero_content h1 {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .hero_content h1 {
    font-size: 32px;
  }
}

.hero_content p {
  margin-top: 24px;
  color: #d1cece;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2em;
}

@media (max-width: 64em) {
  .hero_content p {
    font-size: 24px;
  }
}

@media (max-width: 39.9375em) {
  .hero_content p {
    font-size: 18px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.content .left {
  margin-left: 130px;
  margin-right: 50px;
}

.content .left h1 {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 80px;
  color: #1f1f1f;
}

@media (max-width: 64em) {
  .content .left h1 {
    display: none;
    font-size: 36px;
    line-height: 0px;
  }
}

@media (max-width: 39.9375em) {
  .content .left h1 {
    font-size: 32px;
    display: none;
    line-height: 0px;
  }
}

@media (max-width: 64em) {
  .content .left p {
    font-size: 24px;
    margin-top: 20%;
  }
}

@media (max-width: 39.9375em) {
  .content .left p {
    font-size: 18px;
    margin-top: 20%;
  }
}

.content .right .box {
  width: 750px;
  height: 500px;
  background-color: #ff8800;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  position: relative;
}

.content .right .box .director {
  position: absolute;
  top: -80px;
  left: -80px;
  width: 110%;
  -webkit-filter: drop-shadow(1px 1px 5px black);
          filter: drop-shadow(1px 1px 5px black);
  -webkit-animation: updown 3s infinite;
          animation: updown 3s infinite;
}

@-webkit-keyframes updown {
  0% {
    top: -40px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}

@keyframes updown {
  0% {
    top: -40px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}

@media only screen and (max-width: 1100px) {
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .content .left {
    margin: 0;
    padding: 0 30px;
  }
  .content .right {
    display: none;
  }
}

.title_about {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 80px;
  color: #1f1f1f !important;
  text-align: center;
}

@media (max-width: 64em) {
  .title_about {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .title_about {
    font-size: 32px;
  }
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: gray;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid gray;
  border-radius: 100%;
  background-color: black;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 40em) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 40em) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 64em) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 212px;
    height: 211px;
    margin-left: -105px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.rounded-circle {
  border-radius: 50% !important;
  height: 100%;
  width: 100%;
}

.page-section {
  color: black;
  padding: 1% 0% 7% 0%;
}

.title {
  margin: 5% 0% 1% 0%;
  color: #000;
  font-size: 48px;
  text-align: center;
}

@media (max-width: 64em) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 39.9375em) {
  .title {
    font-size: 32px;
  }
}

.gallery {
  margin-top: 10%;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  background-color: #e6f2ff;
  padding-bottom: 1%;
}

.gallery_pics {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
  text-align: center;
  color: #d1cece;
}

.gallery_pics:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.gallery_img {
  width: 100%;
}

@media (max-width: 64em) {
  .gallery {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .gallery .gallery {
    margin-top: 0%;
  }
}

@media (max-width: 39.9375em) {
  .gallery {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    column-width: 100%;
  }
  .gallery .gallery {
    margin-top: 0%;
  }
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  -webkit-transition: opacity .4s ease, visibility .4s ease, -webkit-transform .5s ease-in-out;
  transition: opacity .4s ease, visibility .4s ease, -webkit-transform .5s ease-in-out;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #d1cece;
  cursor: pointer;
}

.bottom-left {
  position: absolute;
  bottom: 2%;
  left: 5%;
  background-color: black;
  padding: 1%;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container .info {
  margin-right: 30px;
}

footer .container .info.aboutus {
  width: 40%;
}

footer .container h2 {
  position: relative;
  color: #d1cece;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container h2:before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #01bf71;
}

footer p {
  color: #999;
}

.icon {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon li {
  list-style: none;
}

.icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 4px;
}

.icon li a:hover {
  background: #01bf71;
}

.icon li a .fab {
  color: #d1cece;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #01bf71;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .data {
  position: relative;
}

.contact .data li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.contact .data li span:nth-child(1) {
  color: #d1cece;
  font-size: 20px;
  margin-right: 10px;
}

.contact .data li span {
  color: #999;
}

.contact .data li a {
  color: #999;
  text-decoration: none;
}

.contact .data li a:hover {
  color: #01bf71;
}

.copyrightText {
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 64em) {
  footer {
    padding: 40px;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .info {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container .info.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

.service {
  width: 100%;
  background: #000;
  padding: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.service_left {
  width: 50%;
}

.service_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.service_card {
  padding: 50px 70px;
  border-radius: 10px;
  background: #121213;
  -webkit-filter: drop-shadow(0 0 20px black);
          filter: drop-shadow(0 0 20px black);
}

.service_card:hover {
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
}

.card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_title {
  font-size: 43px;
  color: #d1cece;
}

.card_icon {
  width: 50%;
}

.card_desc {
  color: #9797a3;
  padding: 10px 0px 30px 0px;
}

.card_link {
  color: #9797a3;
  text-transform: uppercase;
}

.service_card:hover {
  background-color: #000;
}

.service_right {
  width: 50%;
}

.service_subtitle {
  color: #9797a3;
  font-size: 22px;
}

.service_title {
  color: #d1cece;
  font-size: 60px;
  padding: 50px 0px;
}

.service_info {
  font-style: italic;
  font-size: 30px;
  padding-bottom: 30px;
  color: #9797a3;
}

.service_desc {
  color: #9797a1;
  font-size: 22px;
  line-height: 35px;
}

@media (max-width: 1024px) {
  .service {
    height: unset;
    padding: 100px 40px;
  }
  .service_title {
    font-size: 50px;
  }
  .service_info {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .service_desc {
    font-size: 18px;
    line-height: 30px;
  }
  .service_card {
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .service {
    gap: 3rem;
  }
}

@media (max-width: 460px) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 3rem;
    padding: 100px 20px;
  }
  .service_right {
    width: unset;
  }
  .service_left {
    width: unset;
  }
  .service_cards {
    overflow-x: scroll;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 40px;
  }
  .service_cards::-webkit-scrollbar {
    display: none;
  }
  .service_card {
    padding: 30px;
  }
  .card_top {
    width: 250px;
  }
}

.contacts {
  padding: 30px 0px;
}

@media (max-width: 64em) {
  .contacts {
    padding: 10px 30px;
  }
}

.contacts_head h1 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #1b2935;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 64em) {
  .contacts_head h1 {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .contacts_head h1 {
    font-size: 32px;
  }
}

.contacts_head p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

.contacts_form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

.contacts_body {
  max-width: 950px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  padding: 1%;
}

.field {
  width: 100%;
  padding: 1rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

.field_area {
  min-height: 150px;
}

.field_btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #006d19;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field_btn:hover {
  opacity: 0.7;
}

.customer-logos {
  background-color: #e6f2ff;
}

img.logo-img {
  height: 120px;
  width: 150px;
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d2e4f0));
  background-image: linear-gradient(180deg, #fff, #d2e4f0);
}

.containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 4rem auto;
  width: 90%;
}

.containers h1 {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 80px;
  color: #1f1f1f;
}

@media (max-width: 64em) {
  .containers h1 {
    display: none;
    font-size: 36px;
    line-height: 0px;
  }
}

@media (max-width: 39.9375em) {
  .containers h1 {
    font-size: 32px;
    display: none;
    line-height: 0px;
  }
}

.menu {
  margin: 3.5rem 0;
}

@media (max-width: 64em) {
  .menu {
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 1.5rem 0;
  }
}

@media (max-width: 39.9375em) {
  .menu {
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 1.5rem 0;
  }
}

.menu a {
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 20px;
  margin: 0 1.5rem 0;
  padding: 8px 22px;
  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  color: #fff;
}

.menu a:hover {
  background-color: transparent;
  border: 1px solid rgba(74, 144, 226, 0.5);
  color: #1f1f1f;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (max-width: 64em) {
  .menu a {
    margin: 1.5rem 1.5rem 0;
  }
}

@media (max-width: 39.9375em) {
  .menu a {
    margin: 1.5rem 1.5rem 0;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store-item {
  padding: 1rem;
  margin-left: 3%;
  width: 30%;
}

@media (max-width: 64em) {
  .store-item {
    width: 100%;
    margin-left: 4%;
  }
}

@media (max-width: 39.9375em) {
  .store-item {
    width: 100%;
    margin-left: 4%;
  }
}

.store-item img {
  width: 100%;
  display: block;
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
  text-align: center;
  color: black;
}

.store-item img:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.menu .active {
  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-heading {
  text-align: center;
}

.s-heading h1 {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 80px;
  color: #1f1f1f !important;
  text-align: center;
}

@media (max-width: 64em) {
  .s-heading h1 {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .s-heading h1 {
    font-size: 32px;
  }
}

@media (max-width: 64em) {
  .s-heading p {
    font-size: 24px;
    margin-top: 20%;
  }
}

@media (max-width: 39.9375em) {
  .s-heading p {
    font-size: 18px;
    margin-top: 20%;
  }
}

.s-box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-box img {
  height: 75px;
}

.s-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  position: relative;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.s-box h1 {
  color: #1f1f1f;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.s-box p {
  color: #1f1f1f;
  text-align: center;
}

.s-box:hover {
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.s-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(74, 144, 226, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f1f1f;
  margin-top: 10px;
}

.s-btn:hover {
  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.bar {
  width: 100px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #4a90e2;
  border-radius: 0px 0px 10px 10px;
  display: none;
  -webkit-animation: bar 0.5s;
          animation: bar 0.5s;
}

.s-box:hover .bar {
  display: block;
}

@-webkit-keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@media (max-width: 1050px) {
  .s-box-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services {
    height: auto;
  }
  .s-heading {
    margin: 15px;
  }
  .s-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.introduction {
  min-height: 60vh;
}

.introduction > div {
  max-width: 1250px;
  margin: 0px auto;
  min-height: 70vh;
  padding: 100px 0px;
}

@media (max-width: 64em) {
  .introduction > div {
    width: 95%;
  }
}

@media (max-width: 64em) {
  .introduction > div {
    padding: 190px 0px 50px 0px;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div {
    padding: 150px 0px 150px 0px;
  }
}

@media (max-width: 64em) {
  .introduction > div svg {
    width: 80vw !important;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div svg {
    display: none;
  }
}

.introduction > div:nth-of-type(1) {
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(1) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(1) > div p {
    font-size: 24px;
    margin-top: 2%;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div:nth-of-type(1) > div p {
    font-size: 18px;
    margin-top: 2%;
  }
}

.introduction > div:nth-of-type(1) > div h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #1f1f1f !important;
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(1) > div h1 {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div:nth-of-type(1) > div h1 {
    font-size: 32px;
  }
}

.introduction > div:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(2) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(2) > div p {
    font-size: 24px;
    margin-top: 2%;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div:nth-of-type(2) > div p {
    font-size: 18px;
    margin-top: 2%;
  }
}

.introduction > div:nth-of-type(2) > div h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #1f1f1f !important;
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(2) > div h1 {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div:nth-of-type(2) > div h1 {
    font-size: 32px;
  }
}

.introduction > div:nth-of-type(3) {
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(3) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(3) > div p {
    font-size: 24px;
    margin-top: 2%;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div:nth-of-type(3) > div p {
    font-size: 18px;
    margin-top: 2%;
  }
}

.introduction > div:nth-of-type(3) > div h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #1f1f1f !important;
}

@media (max-width: 64em) {
  .introduction > div:nth-of-type(3) > div h1 {
    font-size: 36px;
  }
}

@media (max-width: 39.9375em) {
  .introduction > div:nth-of-type(3) > div h1 {
    font-size: 32px;
  }
}
/*# sourceMappingURL=App.css.map */