.team{
  background-image: linear-gradient(180deg, #fff, #e2ecf3);
}

.team_section{
  margin-top: 3%;
  margin-bottom: 5%;
}

img.team_img{
    height: 80px;
    width: 100px;
    border-radius: 50%;
}

.table_team{
  margin-top: 3%;
}

.text{
  text-align: center;
}

.team_head{
padding: 0% 5%;
}

.team_head_h1{
  padding: 0% 8%;
  }