.title{
  margin: 5% 0% 1% 0%;
  color: $black;
  font-size: 48px;
  text-align: center;

  @include breakpoints-down(medium){
    font-size: 40px;
  }

  @include breakpoints-down(small){
   font-size: 32px;
 }
}

.gallery{
  margin-top: 10%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  background-color: #e6f2ff;
  padding-bottom: 1%;

  &_pics{
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    margin-bottom: 12px;

    position: relative;
    text-align: center;
    color: $white;

    &:hover{
      filter: opacity(.8);
    }
  }

  &_img{
    width: 100%;
  }

  

  @include breakpoints-down(medium){
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    .gallery{
      margin-top: 0%;
    }
  }

  @include breakpoints-down(small){
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;

    
    .gallery{
      margin-top: 0%;
    }
  }
}
 
// model css
.model{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1)
}

.model img{
  width: auto;
  max-width:100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: $white;
  cursor: pointer;
}

.bottom-left {
  position: absolute;
  bottom: 2%;
  left: 5%;
  background-color: black;
  padding: 1%;
}