.containers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem auto;
  width: 90%;

  h1{
    font-size: 50px;
    text-transform: uppercase;
    line-height: 80px;
    color: rgb(31, 31, 31);

    @include breakpoints-down(medium){
      display: none;
      font-size: 36px;
      line-height: 0px;
    }

    @include breakpoints-down(small){
     font-size: 32px;
     display: none;
     line-height: 0px;
   }
  }
}

.menu{
  margin: 3.5rem 0;

  @include breakpoints-down(medium){
    display: inline-grid;
    margin: 1.5rem 0;
  }

  @include breakpoints-down(small){
    display: inline-grid;
    margin: 1.5rem 0;
 }
}

.menu a{
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 20px;
  margin: 0 1.5rem 0;
  padding: 8px 22px;

  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  color: #fff;

  &:hover {
    background-color: transparent;
    border: 1px solid rgba(74, 144, 226, 0.5);
    color: rgb(31, 31, 31);
    transition: all ease 0.3s;
  }

  @include breakpoints-down(medium){
    margin: 1.5rem 1.5rem 0;
  }

  @include breakpoints-down(small){
    margin: 1.5rem 1.5rem 0;
 }
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.store-item{
  padding: 1rem;
  margin-left: 3%;
  width: 30%;

  @include breakpoints-down(medium){
    width: 100%;
    margin-left: 4%;
  }

  @include breakpoints-down(small){
    width: 100%;
    margin-left: 4%;
 }
}

.store-item img{
  width: 100%;
  display: block;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.2);
  
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
  margin-bottom: 12px;

  position: relative;
  text-align: center;
  color: black;

  &:hover{
    filter: opacity(.8);
    
  }
}

.menu .active{
  background-color: #4a90e2;
    border: 1px solid #4a90e2;
    color: #fff;
    transition: all ease 0.3s;
}
